.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    color: red;
}

h3 {
    color: blue;
}

.social {
    color: blueviolet;
    background-color: brown;
}